<div class="sidebar-stack">
  <h3 class="sidebar-stack__title">Tech Stack</h3>
  <ul class="sidebar-stack__list">
    <li><img src="{{ '/assets/images/tech/aws.svg' | relative_url }}" alt="AWS logo" title="AWS"></li>
    <li><img src="{{ '/assets/images/tech/azure.svg' | relative_url }}" alt="Microsoft Azure logo" title="Azure"></li>
    <li><img src="{{ '/assets/images/tech/gcp.svg' | relative_url }}" alt="Google Cloud logo" title="Google Cloud"></li>
    <li><img src="{{ '/assets/images/tech/kubernetes.svg' | relative_url }}" alt="Kubernetes logo" title="Kubernetes"></li>
    <li><img src="{{ '/assets/images/tech/terraform.svg' | relative_url }}" alt="Terraform logo" title="Terraform"></li>
    <li><img src="{{ '/assets/images/tech/docker.svg' | relative_url }}" alt="Docker logo" title="Docker"></li>
    <li><img src="{{ '/assets/images/tech/gitlab.svg' | relative_url }}" alt="GitLab logo" title="GitLab"></li>
    <li><img src="{{ '/assets/images/tech/istio.svg' | relative_url }}" alt="Istio logo" title="Istio"></li>
    <li><img src="{{ '/assets/images/tech/prometheus.svg' | relative_url }}" alt="Prometheus logo" title="Prometheus"></li>
    <li><img src="{{ '/assets/images/tech/grafana.svg' | relative_url }}" alt="Grafana logo" title="Grafana"></li>
    <li><img src="{{ '/assets/images/tech/argocd.svg' | relative_url }}" alt="Argo CD logo" title="Argo CD"></li>
    <li><img src="{{ '/assets/images/tech/flux.svg' | relative_url }}" alt="Flux logo" title="Flux"></li>
  </ul>
</div>
